<form [formGroup]="formGroup" novalidate (ngSubmit)="enviar()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>
        {{ id ? 'Editar' : 'Novo' }} livro
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Digite o título" formControlName="titulo">
            @if (formGroup.controls['titulo'].hasError('required')) {
              <mat-error>Campo <strong>obrigatório</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="URL da imagem da capa" formControlName="imagem">
            @if (formGroup.controls['capa_img'].hasError('required')) {
              <mat-error>Campo <strong>obrigatório</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Autor" formControlName="autor">
            @if (formGroup.controls['autor'].hasError('required')) {
              <mat-error>Campo <strong>obrigatório</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Ano" formControlName="ano"></textarea>
            @if (formGroup.controls['ano'].hasError('required')) {
              <mat-error>Campo <strong>obrigatório</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Gênero" formControlName="genero"></textarea>
            @if (formGroup.controls['genero'].hasError('required')) {
              <mat-error>Campo <strong>obrigatório</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        [disabled]="formGroup.invalid"
        mat-raised-button
        color="primary"
        type="submit"
      >
        {{ id ? 'Salvar alterações' : 'Incluir' }}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
