<div class="container">
  @for (favorito of favoritos$ | async; track favorito) {
    <mat-card class="card-favorito">
      <mat-card-header>
        <mat-card-title>
          {{ favorito.titulo }}
        </mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="{{ favorito.imagem }}"
      />
      <mat-card-content>
        <p>
          {{ favorito.descricao }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a
          mat-raised-button
          color="accent"
          href="{{ favorito.url }}"
          target="_blank"
        >
          <mat-icon fontIcon="open_in_new"></mat-icon>
          Visitar
        </a>
        <button
          mat-stroked-button
          routerLink="/favorito-edicao/{{ favorito._id }}"
        >
          <mat-icon fontIcon="edit_note"></mat-icon>
          Editar
        </button>
      </mat-card-actions>
    </mat-card>
  }
</div>
