<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isXSmall$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isXSmall$ | async) ? 'push' : 'side'"
      [opened]="(isXSmall$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="ativo">Home</a>
      <a mat-list-item routerLink="/sobre" routerLinkActive="ativo">Sobre</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isXSmall$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>Meus favoritos</span>
    </mat-toolbar>
    <div style="padding: 1em;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
